<p class="metaFooter metaBlack hide-on-small-only">
  MetaFun v0.1<br>
  Created by <a href="http://bioinfo.cipf.es/ubb/?page_id=66" target="_blank">Bioinformatic and Biostadistic Unit</a><br>
  Centro de Investigación Príncipe Felipe (CIPF), Valencia, Spain<br>
  2019
</p>
