<div>
  <div id="boxplot0">
    <plotly-plot [data]="boxPlot.data" [layout]="boxPlot.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
  </div>
  <div id="boxplot1">
    <plotly-plot  [data]="boxPlot1.data" [layout]="boxPlot1.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
  </div>
  <div id="boxplot2">
    <plotly-plot [data]="boxPlot2.data" [layout]="boxPlot2.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
  </div>
  <div id="boxplot3">
    <plotly-plot [data]="boxPlot3.data" [layout]="boxPlot3.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
  </div>
  <div id="boxplot4">
    <plotly-plot class="col s12" [data]="boxPlot4.data" [layout]="boxPlot4.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
  </div>
  <div id="boxplot5">
    <plotly-plot [data]="boxPlot5.data" [layout]="boxPlot5.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
  </div>
  <div id="boxplot6">
    <plotly-plot [data]="boxPlot6.data" [layout]="boxPlot6.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
  </div>
  <div id="boxplot7">
    <plotly-plot class="col s12" [data]="boxPlot7.data" [layout]="boxPlot7.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
  </div>
  <div id="boxplot8">
    <plotly-plot class="col s12" [data]="boxPlot8.data" [layout]="boxPlot8.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
  </div>
  <div id="boxplot9">
    <plotly-plot class="col s12" [data]="boxPlot9.data" [layout]="boxPlot9.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
  </div>
  <div id="boxplot10">
    <plotly-plot class="col s12" [data]="boxPlot10.data" [layout]="boxPlot10.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
  </div>
  <div id="boxplot11">
    <plotly-plot class="col s12" [data]="boxPlot11.data" [layout]="boxPlot11.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
  </div>
  <div id="boxplot12">
    <plotly-plot class="col s12" [data]="boxPlot12.data" [layout]="boxPlot12.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
  </div>
  <div id="boxplot13">
    <plotly-plot class="col s12" [data]="boxPlot13.data" [layout]="boxPlot13.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
  </div>
  <div id="boxplot14">
    <plotly-plot class="col s12" [data]="boxPlot14.data" [layout]="boxPlot14.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
    <p>&nbsp;</p>
  </div>
</div>
