<div id="boxPlot" class="row col s6">
  <plotly-plot class="col s12" [data]="boxPlot.data" [layout]="boxPlot.layout"
               [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
</div>
