<ngx-smart-modal #deleteFilesModal identifier="deleteFilesModal" customClass="large-modal">
  <h4 class="center">Delete All Files</h4>
  <div>
    <br>
    <br>
    <div class="center col s10 offset-s2">
      <a>You are deleting all files you have uploaded</a><br>
      <a>if you are sure type </a><a style="color: #a21318;">DELETE FILES</a><a> in the box below</a>
      <a>this acction is </a><a style="color: #a21318;"> IRREVERSIBLE</a>
    </div>
    <br>
    <br>
  </div>
  <div class="row">
    <input class="col s8 offset-s2" type="text"><button class="waves-effect btn">Accept</button>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #deleteJobsModal identifier="deleteJobsModal" customClass="large-modal">
  <h4 class="center">Delete All Jobs</h4>
  <div class="center col s10 offset-s2">
    <br>
    <br>
    <a>You are deleting all your jobs and their results</a><br>
    <a>if you are sure type </a><a style="color: #a21318;">DELETE ALL JOBS</a><a> in the box below</a>
    <a>this acction is</a><a style="color: #a21318;"> IRREVERSIBLE</a>
    <br>
    <br>
  </div>
  <div class="row">
    <input class="col s8 offset-s2" type="text"><button class="waves-effect btn">Accept</button>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #deleteAccountModal identifier="deleteAccountModal" customClass="large-modal">
  <h4 class="center">Delete Account</h4>
  <div class="row">
    <br>
    <br>
    <div class="center col s10 offset-s2">
      <a >You are deleting all your jobs and their results</a><br>
      <a>if you are sure type </a><a style="color: #a21318;">DELETE ACCOUNT</a><a> in the box below</a>
      <a>this acction is </a><a style="color: #a21318;"> IRREVERSIBLE</a>
    </div>
    <br>
    <br>
  </div>
  <div class="row">
    <input class="col s8 offset-s2" type="text"><button class="waves-effect btn">Accept</button>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #changePasswordModal identifier="changePasswordModal" customClass="large-modal">
  <div class="row">
    <h4 class="center">Change Password</h4>
    <br>
    <br>
    <a>

    </a>
    <div class="col s8 center offset-s2">
      <a class="left">Type your <strong>OLD</strong> password</a>
      <input type="password" placeholder="Old Password">
      <a class="left">Type your <strong>NEW</strong> password</a>
      <input type="password" placeholder="New Password">
      <a class="left">Retype your <strong>NEW</strong> password </a>
      <input type="password" placeholder="New Password">
      <button class="waves-effect btn right">Accept</button>
    </div>
    <br>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #changeEmailModal identifier="deleteFileModal" customClass="large-modal">
  <div class="row">
    <h4 class="center">Change Password</h4>
    <br>
    <br>
    <a>

    </a>
    <div class="col s8 center offset-s2">
      <a class="left">Type your <strong>OLD</strong> eMail</a>
      <input type="text" placeholder="Old eMail">
      <a class="left">Type your password</a>
      <input type="password" placeholder="Password">
      <a class="left">Type your <strong>NEW</strong> eMail</a>
      <input type="password" placeholder="New eMail">
      <a class="left">Retype your <strong>NEW</strong> eMail</a>
      <input type="password" placeholder="New eMail">
      <button class="waves-effect btn right">Accept</button>
    </div>
    <br>
  </div>
</ngx-smart-modal>



<div class="row">
  <div class="col s2 scrollableLeftBarDiv">
    <h5 class="center">{{user}}</h5>
    <h6 class="center">Account Settings</h6>
    <table class="responsive-table highlight" style="margin-top: 5vh">
      <br>
      <tr class="center metaPointer" (click)="logOut()">Log Out</tr>
      <br>
      <a>Account Information</a><br>
      <tr style="margin-left: 3vh;" class="metaPointer" (click)="ngxSmartModalService.getModal('changePasswordModal').open()">Change Password</tr>
      <tr style="margin-left: 3vh;" class="metaPointer" (click)="ngxSmartModalService.getModal('deleteFileModal').open()">Change eMail</tr>
      <br><br>
      <a>Delete Information</a><br>
      <tr style="margin-left: 3vh;" class="metaPointer" (click)="ngxSmartModalService.getModal('deleteFilesModal').open()">Delete All Files</tr>
      <tr style="margin-left: 3vh;" class="metaPointer" (click)="ngxSmartModalService.getModal('deleteJobsModal').open()">Delete All Jobs</tr>
      <tr style="margin-left: 3vh;" class="metaPointer" (click)="ngxSmartModalService.getModal('deleteAccountModal').open()">Delete Account</tr>

    </table>
    <br>
    <div>
      <div id="diskWidget" class="col s10 push-s1">
        <h6 class="left">{{diskusage}}</h6>
      </div>
    </div>

  </div>
  <div id="infoprofileDiv">
    <div id="fileBrowserUserDiv" class="col s10 push-s2" style="margin-top: 9vh">
      <app-file-manager></app-file-manager>
    </div>
    <div id="jobsInfoUserDiv" class="hide">
      <div id="jobsWidget" class="col s10 push-s2 scrollableDiv" style="background-color: white; height: 80vh; margin-top: 9vh;">
        <table name="jobsTable" class="responsive-table highlight">
          <thead>
            <tr>
              <th>Job Name</th>
              <th class="center">Launch Date</th>
              <th class="center">Effect Model</th>
              <th class="center">Functional Analysis</th>
              <th class="center">Organism</th>
              <th class="center">Studies</th>
              <th class="center">Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let job of jobs;  let i=index" ngSwitch={{job.status}}>
              <tr>
                <td *ngIf="job.status==1"><a [routerLink]="['/jobspage']"> {{job.name}} </a></td>
                <td *ngIf="job.status!=1"> {{job.name}} </td>
                <td class="center"> {{job.createdAt.toLocaleString()}}  </td>
                <td class="center"> {{job.effectModel.replace('-','')}} </td>
                <td class="center"> {{job.functional.replace('-','')}}  </td>
                <td class="center"> {{job.organism.replace('-','')}}    </td>
                <td class="center" id="studies{{i}}"></td>
                <td class="center" *ngSwitchCase="2"><i class="material-icons">error_outline</i></td>
                <td class="center" *ngSwitchCase="1"><i class="material-icons">check</i></td>
                <td class="center" *ngSwitchCase="0"><i class="material-icons">rotate_right</i></td>
                <td *ngSwitchCase="0"><button class="material-icons btn disabled materialize-red" (click)="this.deleteJob(i)">delete</button></td>
                <td *ngSwitchCase="1"><button class="material-icons btn materialize-red" (click)="this.deleteJob(i)">delete</button></td>
                <td *ngSwitchCase="2"><button class="material-icons btn materialize-red" (click)="this.deleteJob(i)">delete</button></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="navvBar" class="col s10 offset-s2" style="background-color: #1fa4ae; position: fixed">
    <nav>
      <div class="nav-wrapper" style="background-color: #1fa4ae">
        <ul id="nav-mobile" class="center">
          <li id="filesli" class="active"><a id="myFilesInfoButton" class="metaPointer" (click)="showfilesInfo()">My Files</a></li>
          <li id="jobsli"><a id="myJobsInfoButton" class="metaPointer" (click)="showJobsInfo()">My Jobs Info</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
