<div class="row col s12">
  <div class="col s2 scrollableLeftBarDiv">
    <div class="scrollableLeftBarDiv-content" style="margin-bottom: 13vh;">
      <h4 class="center">All Files</h4>

      <div
        id="allList"
        cdkDropList
        [cdkDropListData]="allNamesFiles"
        [cdkDropListConnectedTo]="['csvList', 'ddfList']"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListEnterPredicate]="noReturnPredicate">
        <div
          class="example-box-on-left-bar"
          *ngFor="let item of allNamesFiles"
          [cdkDragData]="item"
          [cdkDragDisabled] = "item.disabled"
          cdkDrag>{{item.value}}
          <i class="material-icons small">{{item.icon}}</i></div>
      </div>
    </div>
  </div>

  <div class="row col s10 offset-s2 center">

    <h3 class="metaTextAccent">Meta-Analisys Options</h3>
    <br>
    <div class="col s4">
      <div class="blue-grey"><a style="color: white"><h5>Meta-Analisys Method</h5></a></div>
      <div class="row col s10 offset-s1">
        <div class="row left-align">
          <p class="col s12">
            <label class="stv-control">
              <input type="radio" name="radioMethod" checked="true">
              <span class="metaTextAccent">Random Effect Model</span>
            </label>
          </p>
          <p class="col s12">
            <label>
              <input type="radio" name="radioMethod">
              <span class="metaTextAccent">Fixed Effect Model</span>
            </label>
          </p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="blue-grey"><a style="color: white"><h5>Functional Caracterization</h5></a></div>
      <div class="row col s8 offset-s1">
        <div class="row left-align">
          <p class="col s12">
            <label class="stv-control">
              <input type="radio" name="radioFunctional" checked="true">
              <span class="metaTextAccent">GSA</span>
            </label>
          </p>
          <p class="col s12">
            <label class="stv-control">
              <input type="radio" disabled="disabled" name="radioFunctional">
              <span class="metaTextAccent" style="color: grey; cursor: default">Hipathia (Soon)</span>
            </label>
          </p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="blue-grey"><a style="color: white"><h5>Reference Organism</h5></a></div>
      <div class="row col s8 offset-s1">
        <div class="row left-align">
          <p class="col s12">
            <label class="stv-control">
              <input type="radio" name="radioReference" checked="true">
              <span class="metaTextAccent">Homo sapiens</span>
            </label>
          </p>
          <p class="col s12">
            <label class="stv-control">
              <input type="radio" name="radioReference">
              <span class="metaTextAccent">Mus musculus</span>
            </label>
          </p>
          <p class="col s12">
            <label class="stv-control">
              <input type="radio" name="radioReference">
              <span class="metaTextAccent">Rattus norvegicus</span>
            </label>
          </p>
        </div>
        <br><br>
        <div class="col s12 hide">
          <p>
            <label class="stv-control">
              <input type="radio" name="radioReference">
              <span class="metaTextAccent">Other Organism</span>
              <input type="file"/>
            </label>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row col s10 offset-s2 center">
    <div class="col s12 center metaBackground">
      <div class="blue-grey"><a style="color: white"><h5>Data Selection</h5></a></div>
      <div class="col s5 push-s1">
        <div class="example-container">
          <h4 class="center metaTextAccent">Expression Files</h4>
          <div
            id="csvList"
            cdkDropList
            [cdkDropListData]="csvNamesFiles"
            [cdkDropListConnectedTo]="['allList']"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
            [cdkDropListEnterPredicate]="isCSVPredicate">
            <div
              class="example-box"
              *ngFor="let item of csvNamesFiles"
              cdkDrag
              [cdkDragData]="item">{{item.value}}
              <i class="material-icons small">{{item.icon}}</i>
            </div>
          </div>
        </div>
      </div>
      <div class="col s5 push-s1">
        <div class="example-container">
          <h4 class="center metaTextAccent">Experimental Design</h4>
          <div
            id="ddfList"
            cdkDropList
            [cdkDropListData]="ddfNamesFiles"
            [cdkDropListConnectedTo]="['allList']"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
            [cdkDropListEnterPredicate]="isDDFPredicate">
            <div
              class="example-box"
              *ngFor="let item of ddfNamesFiles"
              cdkDrag
              [cdkDragData]="item">{{item.value}}
              <i class="material-icons small">{{item.icon}}</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="experimentalDiv" class="col s10 offset-s2 center metaBackground">
    <div class="col s12 center metaBackground">
      <br><br>
      <div class="blue-grey"><a style="color: white"><h5>Compare Options</h5></a></div>
      <div class="col s12">
        <select class="browser-default" id="compareOptionsCombo" onchange="comboChanged()">
          <option value="CS">Case - Control</option>
          <option value="GENDER">(Case Female - Control Female) - (Case Male - Control Male)</option>
        </select>
        <div>
          <table id="compareOptionsTable">
            <thead id="optionsTableHead">
            <th>
              CSV File
            </th>
            <th>
              Case
            </th>
            <th>
              Control
            </th>
            </thead>
            <tbody id="compareOptionsTableBody">

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col s8 offset-s2  push-s1">
    <br><br><br>
    <input id="jobNameInput" class="col s8 push-s1" type="text" placeholder="Job Name">
    <button class="waves-effect btn" id="launchButton">Launch Job</button>
  </div>
</div>

