<div id="forestPlot" class="row col s6">
  <plotly-plot class="col s12" [data]="forestPlot.data" [config]="forestPlot.config" [layout]="forestPlot.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
</div>
