<div class="col s12">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo" style="font-size: 20px"><strong>&nbsp;&nbsp; GSA from {{this.stdNames[this.studyIndex].split('\t')[1]}}</strong></a>
      <ul id="nav-mobile" class="right">
        <li id="bpTab" class="active" (click)="selectOntology('bp')"><a class="metaPointer">BIOLOGICAL PROCESS</a></li>
        <li id="mfTab" (click)="selectOntology('mf')"><a class="metaPointer">MOLECULAR PROCESS</a></li>
        <li id="ccTab" (click)="selectOntology('cc')"><a class="metaPointer">CELLULAR COMPONENT</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="row">
  <div class="row s10 push-s1 pull-s1">
    <div class="col s10 push-s1 pull-s1">
      <div class="input-field col s3">
        <input type="text" id="search-inputGSA" class="autocomplete" [ngModel]="searchVal" (ngModelChange)="checkSearchVal()" placeholder="Search">
        <i class="material-icons prefix">search</i>
      </div>
      <div class="input-field col offset-s1 s2">
        <input type="text" id="filter-inputPGSA" class="autocomplete" [ngModel]="searchPVal" (ngModelChange)="checkSearchPVal()" placeholder="Max P-value">
        <i class="material-icons prefix">short_text</i>
      </div>
      <div class="input-field col offset-s1 s3">
        <select class="browser-default" id="gseaStudySelect">
          <option value="" disabled selected>Choose your study</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label></label>
      </div>
      <button id="downloadGSEAButton" class="waves-effect btn" style="margin-top: 18px">Download</button>
    </div>
  </div>
  <div id="gseaTables">
  </div>
</div>
