<div>
  <div class="gallery with-transitions hide" id="pcaplot0">
    <plotly-plot [data]="plot.data" [layout]="plot.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
  </div>
  <div class="gallery with-transitions hide" id="pcaplot1">
    <plotly-plot [data]="plot1.data" [layout]="plot1.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
  </div>
  <div class="gallery with-transitions hide" id="pcaplot2">
    <plotly-plot [data]="plot2.data" [layout]="plot2.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
  </div>

  <div class="gallery with-transitions hide" id="pcaplot3">
    <plotly-plot [data]="plot3.data" [layout]="plot3.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
  </div>

  <div class="gallery with-transitions hide" id="pcaplot4">
    <plotly-plot [data]="plot4.data" [layout]="plot4.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
  </div>

  <div class="gallery with-transitions hide" id="pcaplot5">
    <plotly-plot [data]="plot5.data" [layout]="plot5.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
  </div>

  <div class="gallery with-transitions hide" id="pcaplot6">
    <plotly-plot [data]="plot6.data" [layout]="plot6.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
  </div>

  <div class="gallery with-transitions hide" id="pcaplot7">
    <plotly-plot [data]="plot7.data" [layout]="plot7.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
  </div>

  <div class="gallery with-transitions hide" id="pcaplot8">
    <plotly-plot [data]="plot8.data" [layout]="plot8.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
  </div>

  <div class="gallery with-transitions hide" id="pcaplot9">
    <plotly-plot [data]="plot9.data" [layout]="plot9.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
  </div>

  <div class="gallery with-transitions hide" id="pcaplot10">
    <plotly-plot [data]="plot10.data" [layout]="plot10.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
  </div>

  <div class="gallery with-transitions hide" id="pcaplot11">
    <plotly-plot [data]="plot11.data" [layout]="plot11.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
  </div>

  <div class="gallery with-transitions hide" id="pcaplot12">
    <plotly-plot [data]="plot12.data" [layout]="plot12.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
  </div>

  <div class="gallery with-transitions hide" id="pcaplot13">
    <plotly-plot [data]="plot13.data" [layout]="plot13.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
  </div>

  <div class="gallery with-transitions hide" id="pcaplot14">
    <plotly-plot [data]="plot14.data" [layout]="plot14.layout" [revision]="0" [debug]="debug" [useResizeHandler]="useResizeHandler"></plotly-plot>
  </div>


</div>
