:host {
  background-color: lightgrey;
  display: block;
  position: absolute;
  box-sizing: border-box;
  padding: 30px 100px;
  left: 0;
  right: 0;
  margin: 0px auto 0px auto;
  width: 500px;
  box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.30);
}

.title {
  text-align: center;
  font-size: 25px;
}

.icon {
  font-size: 50px;
}

.message {
  margin: 20px 0 0 0;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}
