<p class="center metaTextAccent" style="font-size: 20px">
  Login
</p>
<div>
  <form [formGroup]="formLogIn" (ngSubmit)="onSubmit() ">
    <div *ngIf="mostrarError" class="alert alert-danger" role="alert">
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="metaTextAccent" style="font-size: 16px">Mail: </label>
      </div>
      <div class="col-md-9">
        <input type="text" name="eMail" formControlName="eMail">
      </div>
    </div>
    <div class="row">
      <div>
        <label class="metaTextAccent" style="font-size: 16px">Password: </label>
      </div>
      <div>
        <input type="password" name="pass" formControlName="pass">
      </div>
    </div>

    <div class="row">
      <div>
        <button class="waves-effect btn center" type="submit">Log In</button>
      </div>
    </div>

  </form>
</div>

<app-footer></app-footer>
