<div class="navbar-fixed">
  <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
    <div class="nav-wrapper metaBlack">

      <a href="#" style="margin-left: 30px" class="brand-logo metaBlack"><i class="material-icons">all_inclusive</i>MetaFun</a>

      <ul class="right hide-on-med-and-down metaBlack" routerLinkActive="active">
        <!--<li class="nav-item">
          <a class="nav-link" [routerLink]="['mydata']" [routerLinkActive] ="'active'">My Data</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['newjob']" [routerLinkActive]="'active'">New Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['jobspage']" [routerLinkActive] ="'active'">My Jobs</a>
        </li>
        <li class="nav-item-login">
          <a class="nav-link" id="logInButton" [routerLink]="['login']" [routerLinkActive] ="'active'">Log In</a>
        </li>
        <li class="nav-item-login">
          <a class="nav-link" id="signUpButton" [routerLink]="['signup']" [routerLinkActive] ="'active'">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  material-icons" target="_blank" href="https://gitlab.com/metafundev/metafun/wikis/MetaFun-Help" [routerLinkActive] ="'active'">help_outline</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
