<div class="row">
  <div class="col s2 scrollableLeftBarDiv">
    <h5 class="center">My Jobs</h5>
    <table name="jobsTable" class="responsive-table highlight">
      <thead>
      <tr>
        <th>Job Name</th>
        <th class="center">Status</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let job of files;  let i=index" ngSwitch={{job.status}} >
        <tr class="metaPointer" *ngIf="job.status==1" (click)="this.jobShowResults(i)">
          <td><a> {{job.name}} </a></td>
          <td class="center"><i class="material-icons">check</i></td>
        </tr>
        <tr *ngIf="job.status==0">
          <td> {{job.name}} </td>
          <td class="center"><i class="material-icons">rotate_right</i></td>
        </tr>
        <tr *ngIf="job.status==2">
          <td> {{job.name}} </td>
          <td class="center"><i class="material-icons">error_outline</i></td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <div id="analysisResultsDiv" class="hide">
    <div class="scrollableDiv row col s10 push-s2 active" id="summaryAnalysis" style="height: 100%;margin-top: 9vh">
      <app-summary [selectedAnalysis]=selectedAnalysis></app-summary>
    </div>
    <div class="scrollableDiv row col s10 push-s2 hide" id="exploratoryAnalysis" style="height: 100%;margin-top: 9vh">
      <app-exploratory-analysis [selectedAnalysis]=selectedAnalysis></app-exploratory-analysis>
    </div>
    <div class="scrollableDiv row col s10 push-s2 hide" id="differentialExpression" style="height: 100%;margin-top: 9vh">
      <app-diff-expresion [selectedAnalysis]=selectedAnalysis></app-diff-expresion>
    </div>
    <div class="scrollableDiv row col s10 push-s2 hide" id="geneSetAnalysis" style="height: 100%;margin-top: 9vh">
      <app-gsea-table [hidden]="!isGSEA" [gseaFlag]="isGSEA" [selectedAnalysis] = selectedAnalysis></app-gsea-table>
      <app-hipathia-table [hidden]="isGSEA" [gseaFlag]="isGSEA" [selectedAnalysis]= selectedAnalysis ></app-hipathia-table>
    </div>
    <div class="scrollableDiv row col s10 push-s2 hide" id="metaAnalysis" style="height: 100%;margin-top: 9vh">
      <app-meta-table [selectedAnalysis] = selectedAnalysis ></app-meta-table>
    </div>
  </div>
  <div id="analysisResults" class="col s10 offset-s2" style="background-color: #1fa4ae; position: fixed">
    <nav>
      <div class="nav-wrapper" style="background-color: #1fa4ae">
        <a class="brand-logo push-s1"> {{selectedAnalysis}} Results</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li id="summaryli"><a id="summaryButton" (click)="showSummary()" class="metaPointer">Analysis Summary</a></li>
          <li id="exploratoryli"><a id="exploratoryButton" (click)="showExploratory()" class="metaPointer">Exploratory Analysis</a></li>
          <li id="diffexpli"><a id="diffExpButton" (click)="showDiffExp()" class="metaPointer">Differential Expression</a></li>
          <li id="gseali"><a id="GSEAButton" (click)="showGSEA()" class="metaPointer">{{functionalAnalysis}}</a></li>
          <li id="metali"><a id="metaAnalysisButton" (click)="showMeta()" class="metaPointer">Meta-Analysis</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
