<div>
  <div class="row s10 push-s1 pull-s1">
    <div class="col s10 push-s1 pull-s1">
      <div class="input-field col s3">
        <input type="text" id="search-inputDIF" class="autocomplete" placeholder="Search" [ngModel]="searchValDif" (ngModelChange)="checkSearchValDif()" >
        <i class="material-icons prefix">search</i>
      </div>
      <div class="input-field col offset-s1 s2">
        <input type="text" id="filter-inputPDIF" class="autocomplete" placeholder="Search" [ngModel]="searchPValDif" (ngModelChange)="checkSearchPValDif()">
        <i class="material-icons prefix">short_text</i>
      </div>

      <div class="input-field col offset-s1 s3">
        <select class="browser-default" id="studySelect">
          <option value="" disabled selected>Choose your study</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
      <button id = "downloadDiffExpButton" class="waves-effect btn" style="margin-top: 18px">Download</button>
    </div>
  </div>

  <div id="difExpTables">
    <div class="input-field col offset-s1 s3">

    </div>
  </div>
</div>
