<div>
  <h4 class="center">Exploratory Analysis</h4>
  <br>
  <ng-container class="hide" *ngFor="let std of stdNames; let i=index">
    <div>
      <h5 class="center blue-grey" style="color: white">{{std}}</h5>
      <app-scatter-plot [selectedAnalysis]=selectedAnalysis [stdID]=i></app-scatter-plot>
      <app-scatter-plot3d [selectedAnalysis]=selectedAnalysis [stdID]=i></app-scatter-plot3d>
      <app-box-plot [selectedAnalysis]=selectedAnalysis [stdID]=i></app-box-plot>
      <app-clusterplot [selectedAnalysis]=selectedAnalysis [stdID]=i></app-clusterplot>
      <br><br><br>
    </div>
  </ng-container>
</div>
