<head><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></head>
<ngx-smart-modal #myModal identifier="myModal" class="nsm-dialog">
<div class="container">
    <div class="row">
      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           (onFileDrop)="fileDroped($event)"
           [uploader]="uploader" class="col-md-9" style="margin-bottom: 40px">

        <h3>Select or Drag Your Files</h3>
        <p>Queue length: {{ uploader?.queue?.length }}</p>

        <table class="table">
          <thead>
          <tr>
            <th width="50%">Name</th>

            <th>File Type</th>

            <th class="center">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td class="center"><strong>{{ item?.file?.name }}</strong>
              <div class="progress row col s12">
                <div id="progressBar{{item?.file?.name}}" class="determinate"></div>
              </div>
            </td>
            <td>
              <div class="">
                <select id="techInput{{item?.file?.name}}" class="browser-default">
                  <option value="" selected disabled hidden>Choose the File Type</option>
                  <option value="MicroArray">Micro Array</option>
                  <option value="rnaSeq">RNA-seq</option>
                  <option value="ExperimentDesign">Experiment Design</option>
                </select>
              </div>
            </td>
            <td nowrap>
              <button type="button" class="btn"
                      (click)="uploadFiles(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <i class="material-icons">file_upload</i>
              </button>
              <button type="button" class="btn" style="background-color: darkred"
                      (click)="item.remove()">
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="col-md-3">
          <button type="button" class="btn right" style="background-color: darkred"
                  (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
            <i class="material-icons">delete_forever</i>
          </button>
          <h5>Select files</h5>
          <input type="file" accept="text/tab-separated-values, text/csv" ng2FileSelect [uploader]="uploader" multiple  /><br/>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>


<div class="row">
  <div class="col s12">
    <div class="col s12 fileManagerBar" id="fileNaver">
      <i id="backButton" class="material-icons btn left">keyboard_arrow_left</i>
      <a id="filesPath" class="metaNavBarText right"></a>
    </div>
    <div id="fileManager" class="col s12 fileManager"></div>
    <div class="input-field col s12">
      <input class="col s6" id="folderName" placeholder="Folder Name" type="text"/>
      <button class="row col s2 waves-effect btn" style="margin-left: 5vh" id="addFolderButton">Add Folder</button>
      <button class="row col s2 waves-effect btn right" style="margin-left: 10px" (click)="ngxSmartModalService.getModal('myModal').open()" id="uploadfilesButton">Upload files</button>
    </div>
  </div>
</div>
