<ngx-smart-modal #infoModal identifier="infoModal" style="max-width: 500px;">
  <div class="col s12" style="margin-top: 5vh;">
    <div class="col s12 center">
      <a class="center">
        <ng-container *ngIf="infoModal.hasData()">
          <i *ngIf="infoModal.getData().format.match('csv')" class="material-icons large"><img
            src="../../assets/images/csv.png" height="230" width="214"/></i>
          <i *ngIf="infoModal.getData().format.match('tsv')" class="material-icons large"><img
            src="../../assets/images/ddf.png" height="197" width="145"/>a</i>
        </ng-container>
      </a>
    </div>
    <div class="col s12 offset-s1" style="margin-top: 5vh">
      <a class="left"><b>Name: </b></a>
      <span *ngIf="infoModal.hasData()" style="margin-left: 4px" id="nameRowTag1">{{infoModal.getData().name}}</span>
      <br>
      <br>
      <a class="left"><b>Size: </b></a>
      <span *ngIf="infoModal.hasData()" style="margin-left: 4px" id="sizeRowTag1">{{this.bytesToSize(infoModal.getData().size.$numberLong)}}</span>
      <br>
      <br>
      <a class="left"><b id="Created">Upload Date: </b></a>
      <span *ngIf="infoModal.hasData()" style="margin-left: 4px">{{infoModal.getData().createdAt}}</span>
      <br>
      <br>
      <a class="left"><b>Tech: </b></a>
      <span *ngIf="infoModal.hasData()" style="margin-left: 4px">{{infoModal.getData().tech}}</span>
      <br>
    </div>
    <br>
    <div class="row col s12" style="margin-top: 13vh">
      <button class="col s3 waves-effect btn left">Rename</button>
      <button class="col s3 offset-s1 waves-effect btn center hide">Modify</button>
      <button class="col s3 waves-effect btn right" (click)="this.deleteFile()" style="background-color: #a21318">Delete</button>
    </div>
  </div>
</ngx-smart-modal>

<div class="row">
  <div class="col s12">
    <app-file-browser (selectedFile)="printFile($event)"></app-file-browser>
  </div>
</div>
