<div>
  <h4 class="center">Meta-Analysis Results <button id="downloadMetaButton" class="waves-effect btn right">Download</button></h4>
  <app-documentacion [selectedAnalysis]="_selectedAnalysis"></app-documentacion>
</div>
