<div>
  <table name="myTable" class="responsive-table highlight">
    <thead class="fixed-header">
      <tr>
        <th class="center">GO Term</th>
        <th class="">Name</th>
        <th class="center metaPointer" id="lorCol">Summary LOR</th>
        <th class="center metaPointer" id="pvalCol">P value</th>
        <th class="center metaPointer" id="adjPvalCol">Adjusted P value</th>
        <th class="center">Confidence Interval</th>
        <th class="center"></th>
      </tr>
    </thead>
    <tbody class="scrollableTable">
      <ng-container *ngFor="let go of goData; let link of links; let i=index">
        <tr>
          <td class="center"> <a href="{{links[i]}}" target="_blank"> {{go.GOTerm}} </a> </td>
          <td class="">  {{go.goName}}  </td>
          <td *ngIf="go.lor < 0 && design.includes('ME-MS')" class="center">{{go.lor.toFixed(3)}}<a style="font-size: 18px; color: black;"> (<strong>♂</strong>) </a></td>
          <td *ngIf="go.lor > 0 && design.includes('ME-MS')" class="center">{{go.lor.toFixed(3)}}<a style="font-size: 18px; color: black;"> (<strong>♀</strong>) </a></td>
          <td *ngIf="go.lor < 0 && design.includes('Case')" class="center">{{go.lor.toFixed(3)}} (Control) </td>
          <td *ngIf="go.lor > 0 && design.includes('Case')" class="center">{{go.lor.toFixed(3)}} (Case) </td>
          <td class="center">  {{go.pval.toExponential(4)}}  </td>
          <td class="center">  {{go.adjPval.toExponential(4)}}  </td>
          <td class="center">  {{go.confidenceInterval}} </td>
          <td class="metaPointer row" style="vertical-align: middle; cursor: pointer" id="{{'infoshow'+i}}" (click)="showGraphs(i)">  <i class="small material-icons">info</i>  </td>
          <td class="metaPointer row hide" style="vertical-align: middle; cursor: pointer" id="{{'infohide'+i}}" (click)="hideGraphs(i)">  <i class="small material-icons">close</i>  </td>
        </tr>
        <tr>
        <td class="row hide" id="{{'forestplot'+i}}" colspan="7">
          <app-forest-plot selectedGO={{go.GOTerm}} [selectedAnalysis]=_selectedAnalysis [user]=user summaryLor={{go.lor}} summaryci={{go.confidenceInterval}}></app-forest-plot>
          <app-funnel-plot selectedGO={{go.GOTerm}} [selectedAnalysis]=_selectedAnalysis [user]=user summaryLor={{go.lor}} summarySE="{{go.SE}}"></app-funnel-plot>
        </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

