<div class="row">
  <div class="col s2 scrollableLeftBarDiv">
    <h4 class="center">Index</h4>
    <br>
    <dl>
      <dt><h5>Files Format</h5></dt>
      <dd><h6>- Expression Matrix</h6></dd>
      <dd><h6>- Experimental Design </h6></dd>
      <br>
      <dt><h5>Analysis Options</h5></dt>
      <dd><h6>- Effect Model</h6></dd>
      <dd><h6>- Functional Characterization</h6></dd>
      <br>
      <dt><h5>Results</h5></dt>
      <dd><h6>- Anaylisis Summary</h6></dd>
      <dd><h6>- Exploratory Analysis</h6></dd>
      <dd><h6>- Differential Expression</h6> </dd>
      <dd><h6>- Functional Profiling</h6> </dd>
      <dd><h6>- Meta-Analysis</h6> </dd>
      <br>
      <dt><h5>Contact</h5></dt>
    </dl>
  </div>
  <div id="infoprofileDiv">
    <div id="textDiv" class="col s8 push-s3" style="margin-top: 9vh">
      <div id="text1">
        <div class="blue-grey"><a class="center" style="color: white"><h3 class="center">Files Format</h3></a></div>
        <h5>Expression Matrix:</h5>
        <p>
          In order to process the files, we need first to have two files for each study, the first one the NORMALIZED expression matrix
          in CSV format, with the sample names as colnames and the ENTREZ_ID as rownames as in the example below.
        </p>
        <h5>Experimental Design:</h5>
        <p>
          The second file is the experimental design for each study. We need to know which sample is Case, Control and/or Male, Female.
          This file must be in TSV fromat so, the format should be:
        </p>
        <p>
          GSMxxxxx  <strong>\t
        </strong>  Female_Case<br>
          GSMxxxxx  \t  Male_Case<br>
          GSMxxxxx  \t  Male_Control<br>
          GSMxxxxx  \t  Female_Control<br>
          GSMxxxxx  \t  Female_Case<br>
          GSMxxxxx  \t  Male_Case<br>

        </p>
      </div>
      <div id="text2">
        <div class="blue-grey"><a class="center" style="color: white"><h3 class="center">Analysis Options</h3></a></div>
        <h5>Fixed Effect Model or Random Effect Model?</h5>
        <p>
          The fixed effect model is usefull when you have designed and made all the studies with the same technology,
          platform and in similar times, meanwhile the random effect model allows to compute more variability so, if
          you are integrating several studies with different designs and platform, the random effect model is the best
          choice.
        </p>
        <h5>GSEA or Hipathia?</h5>
        <p>
          In MetaFun you can obtain the functional characterization of the genes with two diferent tools, in one hand,
          you have GSEA, Gene Set Enrichment Analysis. This will result in a list of infra or overrepresented GO terms
          which will be meta-analyzed.
        </p>
        <p>
          In the other hand you can run the functional profiling with Hipathia. <br>
          Hipathia is a method for the computation
          of signal transduction along signaling pathways from transcriptomic data. The method is based on an iterative
          algorithm which is able to compute the signal intensity passing through the nodes of a network by taking into
          account the level of expression of each gene and the intensity of the signal arriving to it. It also provides
          a new approach to functional analysis allowing to compute the signal arriving to the functions annotated to
          each pathway.
        </p>
      </div>
      <div id="text3">
        <div class="blue-grey"><a class="center" style="color: white"><h3 class="center">Results Reading</h3></a></div>

        <h5>Analysis Summary:</h5>

        <p>
          In this tab we provide the information of the launched job and a cuantitative summary of the results, we offer
          you how many samples of each condition the studies had, how many genes and GO terms or signaling pathways
          have resulted differentialy expressed and how many of them have resulted significative when the meta-analysis
          have being complete.
        </p>
        <h5>Exploratory Analysis:</h5>

        <p>
          This section allow us to know if the data we had were good enough and we can assure that the conclusions of the meta-analuysis are
          relevant.
          The Exploratory Analysis tab is compose by three diferent type of graphics:
        </p>
        <p>
          <strong>BoxPlots:</strong>
          this kind of plots represents the variability of the data, in terms of their three quartiles, in the bottom of each Box
          we have the first quartile, the top of the box represents the third quartile, and the line that cross the box its the median
          of the data. Furthermore we have to lines that came up from the bottom and the top of each box the end of this lines marks
          the maximum and the minimum of the data.
        </p>
        <p>
          <strong>PCA Plot:</strong>
          We run a principal component Analysis and present you the first two components for your data in order you
          can visualize how the samples group up.
        </p>
        <p>
          <strong>Cluster Plot:</strong>
          Pretty much the same we do with the PCA we do it with clustering techniques, this way you can ban the sample you have
          had trouble with just because reasons
        </p>

        <h5>Differential Expression:</h5>
        <p>
          We do a differentian expression analysis from your normalized data that can result into significative results
          or not, this question it is not important because, we run this analysis in order to get the genes that we are
          going to functionaly characterize, but you can download them anyways.
        </p>
        <h5>Functional Profiling:</h5>
        <p>
          After the differential expression analysis, the genes are evaluated with the functional characterization
          option you chose at the begining of the analysis, this is the data we are meta-analyzing.<br>
          You can navigate this results and download them the same way you are able to do it with the above analysis.

        </p>
        <h5>Meta-Analysis Results:</h5>
        <p>
          Here you will have the final results, in this tab, you will be able to navigate the metaanalysis results.
          We provide you two types of graphics:
        </p>
        <div>
          <ul>
            <li><strong>Forest Plot:</strong></li>
              <p> </p>
            <li><strong>Funnel Plot:</strong></li>
              <p> </p>
          </ul>
        </div>
      </div>
    </div>
    <div id="analysisResults" class="col s10 offset-s2" style="background-color: #1fa4ae; position: fixed">
      <nav>
        <div class="nav-wrapper" style="background-color: #1fa4ae">
          <div class="center col s12">
            <h5>Help</h5>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
