<div class="row center container metaBackground">
  <div class="col-6 metaTextAccent">
    <img src="../../assets/images/metafun.jpeg" height="130vh" style="margin-top: 15vh; margin-bottom: 10vh;"/>
    <p class="homeText">
      <b>META</b>-ANALYSIS <br>OF <b>FUN</b>CTIONAL PROFILES
    </p>
    <p>
      MetaFun is a web tool for the integration and functional characterization <br> of omic studies with meta-analysis
      techniques
    </p>
  </div>
</div>
<app-footer></app-footer>
